.footer-container {
  position: relative;
}

.footer-copy-right {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #FFFFFF;
  font-size: 22px;

  @mixin isPad {
    font-size: 17px;
  }

  @mixin isMobile {
    font-size: 14px;
  }
}

.footer-img {
  width: 100%;
  margin-bottom: -3px;
}

.footer-filter {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, .9), rgba(255, 255, 255, .5), rgba(255, 255, 255, .2), rgba(255, 255, 255, 0));
}