.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1em;
  width: 1em;
  height: 1em;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;

  span {
    height: .18em;
    width: 100%;
    background: #666666;
    border-radius: .06em;
    opacity: 1;
    font-size: 1em;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    transform-origin: left center;
  }

  &.open {
    span {
      &:nth-child(1) {
        transform: rotate(45deg);
        width: 1.165em;  
      }
      
      &:nth-child(2) {
        width: 0%;
        opacity: 0;
      }
      
      &:nth-child(3) {
        transform: rotate(-45deg);
        width: 1.165em;  
      }
    }
  }

  &:hover {
    transition: opacity .2s;
    opacity: .8;
  }
}