.circle-spinner {
  position: absolute;
  height: 28px;
  width: 28px;
  margin: auto;
  border-radius: 50%;
  border: 2.5px solid rgba(255, 255, 255, 0.16);
  border-top-color: #CCCCCC;
  animation: spinner .5s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width:768px) {
  .circle-spinner {
    height: 22px;
    width: 22px;
  }
}
