.contact-container {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  margin-bottom: 20px;
  padding: 20px;

  @mixin isPc {
    margin-top: 100px;
  }
}

.contact-inner {
  margin-top: 20px;
}

.contact-container-title {
  font-size: 26px;
  font-weight: 600;
  text-align: center;

  @mixin isPad {
    font-size: 24px;
  }

  @mixin isMobile {
    font-size: 20px;
  }
}

.contact-my-name {
  font-size: 26px;

  @mixin isMobile {
    font-size: 22px;
  }
}

.contact-method {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.contact-method-title {
  font-size: 22px;
  color: #999999;

  @mixin isMobile {
    font-size: 18px;
  }
}

.contact-method-content {    
  font-size: 20px;
  margin-left: 20px;
  font-weight: 600;

  @mixin isMobile {
    font-size: 16px;
  }
}

.contact-social-media-container {
  display: flex;
  margin-top: 20px;
}

.contact-btn {
  font-size: 40px;
  background-color: #FFFFFF;
  cursor: pointer;
  transition: all .2s;

  &:hover {
    opacity: .8;
  }
}

.contact-linkin {
  color: #0077B5;
}

.contact-github {
  color: #000000;
  margin-left: 15px;
}
