.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-width: 320px;
  opacity: 0;
  z-index: 100;
  transition: opacity .2s;

  @mixin isMobile {
    position: relative;
    opacity: 1;
  }

  &.is-hidden {
    z-index: -1;
  }

  &.fixed {
    position: fixed;
    top: 0;
    opacity: 1;
    width: 100%;

    &.is-hidden {
      z-index: 100;
    }
  }
}

.header {
  position: relative;
  display: flex; 
  align-items: center;
  justify-content: space-between;
  color: #666666;
  background-color: #FFFFFF;
  padding: 20px 15px 20px 20px;
  font-size: 22px;
  margin-top: -2px;
  z-index: 200;
  border-bottom: 1px solid #EEEEEE;

  @mixin isMobile {
    z-index: 300;
  }
}

.header-title {
  font-size: 18px;
  margin: 0;
  font-weight: 500;
  color: #000000;

}

.header-mobile-menu {
  display: inherit;
  position: absolute;
  top: 60px;
  z-index: 0;
  width: 100%;
  font-size: 16px;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 2px #EEEEEE;
  transform: translateY(-100%);
  transition: all .3s ease-in-out;

  &.is-open {
    transform: translateY(0%);
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 15px 20px;

    li {
      display: block;
      text-align: center;
      border-radius: 5px;
      padding: 7px;
      cursor: pointer;
      transition: all .2s;

      &:hover {
        opacity: .8;
        background-color: #EEEEEE;
      }
    }
  }

  @mixin isMobile {
    z-index: 100;
  }
}

.header-web-nav-container {
  display: flex;
  align-items: center;
}

.header-web-nav-item {
  display: inline-block;
  position: relative;
  font-size: 16px;   
  padding: 0px 15px;
  margin-right: 10px;
  cursor: pointer;
  transition: all .2s;

  &:not(:last-child):after {
    content: '|';
    position: absolute;
    right: -10px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.header-web-nav-block-name {
  transition: all .2s;

  &:hover {
    color: #555555;
  }
}

.header-lang-selector-container {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  font-size: 16px;
  padding: 0;

  div {
    padding-left: 15px;
  }
}

.header-mobile-left {
  display: flex;
  align-items: center;
}

.header-mobile-lang-selector-container {
  margin-right: 15px;
}
