.banner-container {
  display: block;
}

.banner-img {
  width: 100%;
  content: url('~assets/img/banner_web.png');
  filter: blur(1px);

  @mixin isMobile {
    content: url('~assets/img/banner_mobile.png');
  }
}