.intro-container {
  display: flex;
  justify-content: center;
  padding: 30px;

  @mixin isMobile {
    padding: 80px 0 0 0;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1080px;
}