.exp-container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.exp-container-title {
  font-size: 24px;
  font-weight: 500;
  text-align: center;

  @mixin isPad {
    font-size: 22px;
  }

  @mixin isMobile {
    font-size: 20px;
  }
}

.exp {
  display: flex;
  font-size: 24px;
  padding: 0 20px;

  @mixin isMobile {
    padding: 0 20px 0 10px;
  }

  &:nth-child(odd) {
    flex-direction: row-reverse;

    .exp-pc-logo-container {
      justify-content: flex-end;
    }

    .exp-content-container {
      .exp-title {
        flex-direction: row-reverse;
      }

      .exp-company-title {
        text-align: left;
      }

      .exp-job-title {
        text-align: left;
      }
      
      .exp-sub-title-container {
        justify-content: space-between;
      }
    }
  }

  @mixin isMobile {
    &:nth-child(odd) {
      flex-direction: initial;
  
      .exp-content-container {
        .exp-title {
          flex-direction: initial;
        }

        .exp-company-title {
          text-align: right;
        }
  
        .exp-job-title {
          text-align: right;
        }
      }
    }
  }
}

.exp-progress-bar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;

  @mixin isMobile {
    width: 30px;
  }
}
  
.exp-progress-bar span {
  background-color: #687175;

  &:first-child {
    width: 1em;
    height: 1em;
    border-radius: 50%;
  }

  &:nth-child(2) {
    flex: 1;
    width: 3px;
  }

  @mixin isMobile {
    &:first-child {
      width: .7em;
      height: .7em;
    }

    &:nth-child(2) {
      width: 2px;
    }
  }
}

.exp-content-container {
  width: 100%;
  height: 100%;
  margin-bottom: 40px;
}

.exp-title {
  display: flex;
  align-items: center;
}

.exp-title-divider {
  flex: 1;
  height: 1px;
  margin: 0 10px;
  background-color: #687175;
}

.exp-title-time {
  font-size: 22px;
  font-weight: 500;
  margin: 0;

  @mixin isPad {
    font-size: 20x;
  }

  @mixin isMobile {
    font-size: 18px;
  }
}

.exp-sub-title-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 15px 0;

  @mixin isMobile {
    justify-content: space-between;
  }
}

.exp-sub-title {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.exp-title {
  display: flex;
}

.exp-company-title {
  margin: 10px 0;
  font-size: 22px;
  text-align: right;

  @mixin isPad {
    font-size: 20x;
  }

  @mixin isMobile {
    font-size: 18px;
  }
}

.exp-job-title {
  margin: 10px 0;
  font-size: 18px;
  text-align: right;

  @mixin isPad {
    font-size: 16px;
  }

  @mixin isMobile {
    font-size: 14px;
  }
}

.exp-content {
  font-size: 22px;

  @mixin isPad {
    font-size: 20px;
  }

  @mixin isMobile {
    font-size: 18px;
  }
}

.exp-job-description {
  display: list-item;
  margin: 10px 0 10px 30px;
  word-break: break-all;
  word-wrap: break-word;
  font-size: 16px;
}

.exp-pc-logo-container {
  margin: 30px 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;

  @mixin isMobile {
    display: none;
  }
}

.exp-logo-mobile {
  display: none;

  @mixin isMobile {
    width: 75px;
    height: 75px;
    display: initial;
    padding: 0;
    margin-left: 10px;
  }
}

.exp-logo-accupass {
  border-radius: 8px;
  padding: 9px 20px;
  background-color: #0088D2;
  width: auto;
  height: 50px;

  @mixin isMobile {
    border-radius: 50%;
  }
}

.exp-logo-leo {
  width: auto;
  height: 50px;
}