.exp-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  h2 {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
  }
}

.exp {
  display: flex;
  font-size: 24px;
  padding: 0 20px;

  &:nth-child(odd) {
    flex-direction: row-reverse;

    .exp-content-container {
      .exp-title {
        flex-direction: row-reverse;
      }

      .exp-job-title {
        text-align: left;
      }
    }
  }

  @mixin isMobile {
    &:nth-child(odd) {
      flex-direction: initial;
  
      .exp-content-container {
        .exp-title {
          flex-direction: initial;
        }
  
        .exp-job-title {
          text-align: right;
        }
      }
    }
  }
}

.exp-progress-bar-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  
  span {
    background-color: #687175;
    &:first-child {
      width: 1em;
      height: 1em;
      border-radius: 50%;
    }

    &:nth-child(2) {
      flex: 1;
      width: 3px;
    }

    &:last-child {
      display: none;
      width: 1em;
      height: 1em;
      border-radius: 50%;
    }
  }
}

.exp-content-container {
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
}

.exp-title {
  display: flex;
  align-items: center;

  h3 {
    font-size: 22px;
    font-weight: 500;
    margin: 0;
  }

  span {
    flex: 1;
    height: 1px;
    margin: 0 10px;
    background-color: #687175;
  }
}

.exp-job-title {
  margin: 10px 0;
  font-size: 20px;
  text-align: right;
}

.exp-content {
  p {
    display: list-item;
    margin: 10px 0 10px 30px;
    word-break: break-all;
    word-wrap: break-word;
  }
}

.exp-pc-logo-container {
  margin: 30px 0;
  width: 100%;
  display: flex;
  justify-content: center;

  @mixin isMobile {
    display: none;
  }
}

.exp-logo {
  width: 150px;
  height: 150px;
  margin: 20px 50px;

  &.img-circle {
    border-radius: 50%;
  }
}