.banner-container {
  position: relative;
  z-index: 100;
  background-color: #FFFFFF;
}

.banner-filter {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, .3), rgba(255, 255, 255, .8), rgba(255, 255, 255, 1));

  @mixin isMobile {
    display: none;
  }
}

.banner-img-web {
  width: 100%;
  pointer-events: none;

  @mixin isMobile {
    display: none;
  }
}

.banner-img-mobile {
  width: 100%;
  display: none;
  pointer-events: none;

  @mixin isMobile {
    display: initial;
  }
}

.banner-title-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.banner-title {
  display: flex;
  align-items: center;
  padding: 0 15px;
  font-size: 42px;

  @mixin isPad {
    font-size: 30px;
  }

  @mixin isMobile {
    display: none;
  }
}

.banner-lang-icon {
  font-size: 25px;
  margin-left: 15px;

  @mixin isPad {
    font-size: 20px;
  }
}

.banner-menu-container {
  display: flex;
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 18px;
  padding: 5px 0;

  @mixin isPad {
    font-size: 16px;
  }
  
  @mixin isMobile {
    display: none;
  }
}

.banner-menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  letter-spacing: 1px;

  @mixin isMobile {
    display: none;
  }

  li {
    display: flex;
    align-items: center;
    padding: 5px 15px;
    cursor: pointer;
    transition: all .2s;

    &:hover {
      opacity: .7;
    }
  }
}
